<div class="fs-column" ngFormGroup>
  @if (config.enableCurrentPassword) {
    <mat-form-field>
      <mat-label>
        <mat-icon>lock_outline</mat-icon>
        Enter old password
      </mat-label>
      <input
        matInput
        fsPassword
        autocomplete="false"
        name="passwordCurrent"
        [autocomplete]="'off'"
        [(ngModel)]="currentPassword"
        [fsFormRequired]="true">
    </mat-form-field>
  }

  <mat-form-field>
    <mat-label>
      <mat-icon>lock_outline</mat-icon>
      Enter new password
    </mat-label>
    <input
      matInput
      fsPassword
      [strength]="config.strength"
      [strengthConfig]="config.strengthConfig"
      autocomplete="false"
      name="passwordNew"
      [autocomplete]="'off'"
      [(ngModel)]="newPassword"
      [fsFormRequired]="true"
      [fsFormMinLength]="config.minLength"
      [fsFormFunction]="excludeFormFunction">
  </mat-form-field>
</div>
