<div class="fs-column" ngFormGroup>
  <mat-form-field *ngIf="config.enableCurrentPassword">
    <mat-label>Current Password</mat-label>
    <input
      matInput
      fsPassword
      autocomplete="false"
      name="passwordCurrent"
      [autocomplete]="'off'"
      [(ngModel)]="currentPassword"
      [fsFormRequired]="true">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Create Password</mat-label>
    <input
      matInput
      fsPassword
      [strength]="config.strength"
      [strengthConfig]="config.strengthConfig"
      autocomplete="false"
      name="passwordNew"
      [autocomplete]="'off'"
      [(ngModel)]="newPassword"
      [fsFormRequired]="true"
      [fsFormMinLength]="config.minLength"
      [fsFormFunction]="excludeFormFunction">
  </mat-form-field>
</div>
