$color-weak: red;
$color-medium: orange;
$color-strong: green;

.fs-password-toggle {
 
  .meter-status {
    font-size: 80%;

    &.weak {
      color: $color-weak;
    }

    &.medium {
      color: $color-medium;
    }

    &.strong {
      color: $color-strong;
    }
  }

  .mat-icon-button {
    width: 28px;
    height: 28px;
    line-height: 32px;
  }

  mat-icon {
    margin-bottom: 5px;
  }
}

.fs-password-meter {
  display: flex;
  margin-top: 4px;

  .level {
    width: 33.3333%;
    height: 3px;
    background-color: #ccc;

    &.level-1 {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  
    &.level-2 {
      margin: 0 4px;
    }
  
    &.level-3 {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  
  &.weak .level-1 {
    background-color: $color-weak;
  }

  &.medium {
    .level-1,
    .level-2 {
      background-color: $color-medium;
    }
  }

  &.strong {
    .level-1,
    .level-2,
    .level-3 {
      background-color: $color-strong;
    }
  }
}

::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
  
      .mat-form-field-underline {
        position: initial;
        display: block;
        margin-top: -1px;
      }
  
      .mat-form-field-subscript-wrapper,
      .mat-form-field-ripple {
        position: initial;
        display: table;
  
        mat-hint:not(:empty) {
          margin-bottom: 1em;
          display: block;
        }
      }
      .mat-form-field-subscript-wrapper {
        min-height: calc(1em + 1px);
      }
    }

    .mat-form-field-wrapper .mat-form-field-ripple mat-hint:not(:empty), 
    .mat-form-field-wrapper .mat-form-field-subscript-wrapper mat-hint:not(:empty),
    .mat-form-field-wrapper .mat-form-field-subscript-wrapper .fs-form-error {
      margin-bottom: 1em;
      display: block;
  }
}