<form fsForm [submit]="submit">
  <fs-dialog>
    <fs-dialog-title>{{data.title}}</fs-dialog-title>
    <mat-dialog-content>
      <fs-password
        [(currentPassword)]="data.currentPassword"
        [(newPassword)]="data.newPassword"
        [config]="config">
      </fs-password>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="btn-action-container">
        <ng-container *ngFor="let btn of data.buttons">
          <ng-container *ngIf="btn.action !== 'cancel'; else cancelButton">
            <button
                mat-button
                [type]="btn.type"
                [ngClass]="btn.classes"
                [color]="btn.color"
                (click)="click(btn)">
              {{btn.label}}
            </button>
          </ng-container>
          <ng-template #cancelButton>
            <button
                mat-button
                type="button"
                [ngClass]="btn.classes"
                [color]="btn.color"
                mat-dialog-close>
              {{btn.label}}
            </button>
          </ng-template>
        </ng-container>
      </div>
    </mat-dialog-actions>
  </fs-dialog>
</form>
