<form
    fsForm
    [submit]="submit">
  <fs-dialog>
    <fs-dialog-title [close]="!cancelButton">
      {{ data.title }}
      <ng-template fsDialogSubtitle>
        {{ data.subtitle }}
      </ng-template>
    </fs-dialog-title>
    <mat-dialog-content>
      <fs-password
        [(currentPassword)]="data.currentPassword"
        [(newPassword)]="data.newPassword"
        [config]="config">
      </fs-password>
    </mat-dialog-content>
    <mat-dialog-actions>
      <ng-container *ngFor="let btn of data.buttons">
        <ng-container *ngIf="btn.action !== 'cancel'; else cancelButton">
          <button
              mat-button
              [type]="btn.type"
              [ngClass]="btn.classes"
              [color]="btn.color"
              (click)="click(btn)">
            {{ btn.label }}
          </button>
        </ng-container>
        <ng-template #cancelButton>
          <button
              mat-button
              type="button"
              [ngClass]="btn.classes"
              [color]="btn.color"
              mat-dialog-close>
            {{ btn.label }}
          </button>
        </ng-template>
      </ng-container>
    </mat-dialog-actions>
  </fs-dialog>
</form>