@use '~@firestitch/style/variables' as fs-style;

.fs-password-toggle {
  .meter-status {
    font-size: 80%;

    &.weak {
      color: fs-style.$color-danger;
    }

    &.medium {
      color: fs-style.$color-warn;
    }

    &.strong {
      color: fs-style.$color-success;
    }
  }

  .mat-icon-button {
    width: 28px;
    height: 28px;
    line-height: 32px;
  }

  mat-icon {
    margin-bottom: 5px;
  }
}

:host ::ng-deep {
  .mat-form-field-wrapper {
    position: relative;
  }
}

.fs-password-meter {
  display: flex;
  position: absolute;
  width: 100%;
  margin-top: -1px;

  .level {
    width: 33.3333%;
    height: 3px;
    background-color: #ccc;
  }

  &.weak .level-1 {
    background-color: fs-style.$color-danger;
  }

  &.medium {
    .level-1,
    .level-2 {
      background-color: fs-style.$color-warn;
    }
  }

  &.strong {
    .level-1,
    .level-2,
    .level-3 {
      background-color: fs-style.$color-success;
    }
  }
}
