$color-danger: #FF3548 !default;
$color-warn: #FFBB34 !default;
$color-success: #12A34B !default;

.fs-password-toggle {
  .meter-status {
    font-size: 80%;

    &.weak {
      color: $color-danger;
    }

    &.medium {
      color: $color-warn;
    }

    &.strong {
      color: $color-success;
    }
  }

  .mat-icon-button {
    width: 28px;
    height: 28px;
    line-height: 32px;
  }

  mat-icon {
    margin-bottom: 5px;
  }
}

:host ::ng-deep {
  .mat-form-field-wrapper {
    position: relative;
  }
}

.fs-password-meter {
  display: flex;
  position: absolute;
  width: 100%;
  margin-top: -1px;

  .level {
    width: 33.3333%;
    height: 3px;
    background-color: #ccc;
  }

  &.weak .level-1 {
    background-color: $color-danger;
  }

  &.medium {
    .level-1,
    .level-2 {
      background-color: $color-warn;
    }
  }

  &.strong {
    .level-1,
    .level-2,
    .level-3 {
      background-color: $color-success;
    }
  }
}


::ng-deep {
  .mat-form-field-appearance-outline {
    &.password-weak {
      .mat-form-field-outline, .fs-password-hint {
        color: $color-danger !important;
      }
    }

    &.password-medium {
      .mat-form-field-outline, .fs-password-hint {
        color: $color-warn !important;
      }
    }

    &.password-strong {
      .mat-form-field-outline, .fs-password-hint {
        color: $color-success !important;
      }
    }
  }
}