<div fxLayout="column" ngFormGroup>
  <mat-form-field *ngIf="config.enableCurrentPassword">
    <input
      matInput
      fsPassword
      placeholder="Current Password"
      autocomplete="false"
      name="password_current"
      [(ngModel)]="currentPassword"
      [fsFormRequired]="true">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      fsPassword
      placeholder="New Password"
      autocomplete="false"
      name="password_new"
      #newPasswordInput
      [(ngModel)]="newPassword"
      [fsFormRequired]="true"
      [fsFormMinLength]="config.minLength"
      [fsFormFunction]="excludeFormFunction">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      fsPassword
      placeholder="Confirm Password"
      autocomplete="false"
      name="password_confirm"
      [fsFormCompare]="newPasswordInput.element"
      [(ngModel)]="confirmPassword"
      [fsFormRequired]="true"
      [fsFormMinLength]="config.minLength">
  </mat-form-field>
</div>
