<h2 mat-dialog-title>{{title}}</h2>

<form (fsForm)="save()" (invalid)="invalid()">

  <mat-dialog-content>
    <div fxLayout="column">
      <mat-form-field *ngIf="enableCurrentPassword">
        <input
          matInput
          placeholder="Current Password"
          autocomplete="false"
          name="password_current"
          [type]="hideCurrent ? 'password' : 'text'"
          [(ngModel)]="currentPassword"
          [fsFormRequired]="'true'"
          [fsFormMinLength]="minLength">

        <mat-icon
          matSuffix
          [matTooltip]="hideCurrent ? 'Show password' : 'Hide password'"
          (click)="hideCurrent = !hideCurrent"
        >{{hideCurrent ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="New Password"
          autocomplete="false"
          name="password_new"
          #newPasswordInput
          [type]="hideNew ? 'password' : 'text'"
          [(ngModel)]="newPassword"
          [fsFormRequired]="true"
          [fsFormMinLength]="minLength">

        <mat-icon
          matSuffix
          [matTooltip]="hideNew ? 'Show password' : 'Hide password'"
          (click)="hideNew = !hideNew"
        >{{hideNew ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Confirm Password"
          autocomplete="false"
          name="password_confirm"
          [fsFormCompare]="newPasswordInput"
          [type]="hideConfirm ? 'password' : 'text'"
          [(ngModel)]="confirmPassword"
          [fsFormRequired]="true"
          [fsFormMinLength]="minLength">

        <mat-icon
          matSuffix
          [matTooltip]="hideConfirm ? 'Show password' : 'Hide password'"
          (click)="hideConfirm = !hideConfirm"
        >{{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button type="submit">Update</button>
    <button mat-button (click)="close()" type="button">Cancel</button>
    <button mat-button color="warn" (click)="forgotPassword()" type="button">Forgot Password</button>
  </mat-dialog-actions>

</form>
