<div fxLayout="column" ngFormGroup>
  <mat-form-field *ngIf="config.enableCurrentPassword">
    <input
      matInput
      placeholder="Current Password"
      autocomplete="false"
      name="password_current"
      [type]="hidePass.current ? 'password' : 'text'"
      [(ngModel)]="currentPassword"
      [fsFormRequired]="true">
    <mat-icon
      matSuffix
      [matTooltip]="hidePass.current ? 'Show password' : 'Hide password'"
      (click)="changeHideMode($event, 'current')">{{hidePass.current ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="New Password"
      autocomplete="false"
      name="password_new"
      #newPasswordInput
      [type]="hidePass.modern ? 'password' : 'text'"
      [(ngModel)]="newPassword"
      [fsFormRequired]="true"
      [fsFormMinLength]="config.minLength"
      [fsFormFunction]="excludeFormFunction">

    <mat-icon
      matSuffix
      [matTooltip]="hidePass.modern ? 'Show password' : 'Hide password'"
      (click)="changeHideMode($event, 'modern')"
    >{{hidePass.modern ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Confirm Password"
      autocomplete="false"
      name="password_confirm"
      [fsFormCompare]="newPasswordInput"
      [type]="hidePass.confirm ? 'password' : 'text'"
      [(ngModel)]="confirmPassword"
      [fsFormRequired]="true"
      [fsFormMinLength]="config.minLength">

    <mat-icon
      matSuffix
      [matTooltip]="hidePass.confirm ? 'Show password' : 'Hide password'"
      (click)="changeHideMode($event, 'confirm')"
    >{{hidePass.confirm ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
</div>
