<button mat-button (click)="openDialog()">Open dialog</button>

<ng-template #dialogTemplate>
  <h2 mat-dialog-title>Change Password</h2>

  <form>

    <mat-dialog-content>
      <fs-password
        [(currentPassword)]="currentPassword"
        [(newPassword)]="newPassword"
        [(confirmPassword)]="confirmPassword"
      ></fs-password>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button (click)="save()" type="submit">Update</button>
      <button mat-button (click)="close()" type="button">Cancel</button>
      <button mat-button (click)="forgotPassword()" type="button" color="warn">Forgot Password</button>
    </mat-dialog-actions>

  </form>
</ng-template>
