<fs-examples [config]="config">

  <!-- <fs-example title="Static Example" componentName="password-static-example">
    <password-static-example></password-static-example>
  </fs-example> -->
  <fs-example title="Dialog Example" componentName="password-dialog-example">
    <password-dialog-example></password-dialog-example>
  </fs-example>

  <fs-example title="Inline Example" componentName="password-form-example">
    <password-form-example></password-form-example>
  </fs-example>

</fs-examples>
