<fs-examples
  title="Password"
  githubUrl="https://github.com/Firestitch/fs-password"
  npmUrl="https://www.npmjs.com/package/@firestitch/password">

  <fs-example title="Static Example" componentName="password-static-example">
    <password-static-example></password-static-example>
  </fs-example>

  <fs-example title="Form Example" componentName="password-form-example">
    <password-form-example></password-form-example>
  </fs-example>

  <fs-example title="Dialog Example" componentName="password-dialog-example">
    <password-dialog-example></password-dialog-example>
  </fs-example>

</fs-examples>
