<form fsForm [submit]="submit">
  <mat-form-field>
    <input
      matInput
      placeholder="Username"
      value="username"
      name="username"
      [fsFormRequired]="true"
      [(ngModel)]="username"
      type="text">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Password"
      fsPassword
      value="password"
      name="password"
      [fsFormRequired]="true"
      [(ngModel)]="password"
      type="password">
  </mat-form-field>

  <button
      mat-raised-button
      color="primary"
      type="submit">
    Submit
  </button>
</form>
