<h3> Change password </h3>
<mat-dialog-content>
  <form>
    <fs-password
      [(currentPassword)]="currentPassword"
      [(newPassword)]="newPassword"
      [config]="config"
    ></fs-password>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="btn-action-container">
    <button type="button" mat-raised-button
            *ngFor="let btn of data.buttons; let i = index"
            [ngClass]="btn.classes"
            (click)="callAction(i, btn.action)">{{btn.label}}</button>
  </div>
</mat-dialog-actions>

