<form (fsForm)="submit()">
  <div mat-dialog-title>{{data.title}}</div>
  <mat-dialog-content>
      <fs-password
        [(currentPassword)]="data.currentPassword"
        [(newPassword)]="data.newPassword"
        [config]="config"
      ></fs-password>

  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="btn-action-container">
      <ng-container *ngFor="let btn of data.buttons">
        <button mat-button
                [type]="btn.type"
                [ngClass]="btn.classes"
                [color]="btn.color"
                (click)="click(btn)">{{btn.label}}</button>
      </ng-container>
    </div>
  </mat-dialog-actions>
</form>
