<form (fsForm)="submit()">
  <div mat-dialog-title>{{data.title}}</div>
  <mat-dialog-content>
      <fs-password
        [(currentPassword)]="data.currentPassword"
        [(newPassword)]="data.newPassword"
        [config]="config"
      ></fs-password>

  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="btn-action-container">
      <button mat-raised-button
              [type]="btn.type"
              *ngFor="let btn of data.buttons"
              [ngClass]="btn.classes"
              [color]="btn.color"
              (click)="click(btn)">{{btn.label}}</button>
    </div>
  </mat-dialog-actions>
</form>
